$primaryBtn: rgb(182, 85, 153);
$textColor: rgb(43, 43, 43);

header {
  background: lightblue;
  display: flex;
  justify-content: center;
  color: $textColor;

  button {
    background: $primaryBtn;
    &:hover {
      background: red;
    }
    &::after {
      content: " Hellooo!!";
    }
  }
}

.contact button {
  background: $primaryBtn;
}
